body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #8ecae6;
    font-family: 'Montserrat', sans-serif;
}

col {
    flex-wrap: nowrap;
}

nav {
    background-color: #8ecae6;
}

a.nav-link {
    font-size: 1.3rem;
    color: #023047;
}

a.nav-link:hover {
    color: #0d6efd;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: 700;
    color: #023047;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 4rem;
}

.social {
    color: #023047;
}

.collapse.in {
    display: block;
}

.mainheading {
    font-size: 145px;
    font-family: 'Abril Fatface', 'Montserrat';
}

img.d-block {
    height: 35em;
}

.carousel {
    border: 10px ridge #219ebc;
}

@media(max-width: 992px) {

    .mainheading {
        font-size: 100px;
    }

    img.d-block {
        height: 25em;
    }
}

@media(max-width: 768px) {
    .mainheading {
        font-size: 50px;
    }

    img.d-block {
        height: 15em;
    }
}

@media(max-width: 281px) {
    .navbar-brand {
        font-size: 0.65rem;
    }
}