body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #8ecae6;
    font-family: 'Montserrat', sans-serif;
}

col {
    flex-wrap: nowrap;
}

nav {
    background-color: #8ecae6;
}

a.nav-link {
    font-size: 1.3rem;
    color: #023047;
}

a.nav-link:hover {
    color: #0d6efd;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: 700;
    color: #023047;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 4rem;
}

.social {
    color: #023047;
}

.collapse.in {
    display: block;
}

.card {
    border: 10px ridge #219ebc;
    background-color: #023047;
    color: white;
}

.btn {
    border: solid #023047;
    background-color: #ffb703;
    color: #023047;
    transition: background-color 0.45s, color 0.45s, border 0.45s;
}

.btn:hover {
    border: solid #ffb703;
    background-color: #023047;
    color: #ffb703;
}

h1 {
    font-family: 'Abril Fatface', 'Montserrat';
    font-size: 85px;
}

.container {
    animation: fadeIn 1.25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width: 992px) {
    #landingButton {
        margin-top: 24px;
    }
}

@media(max-width: 768px) {
    .navbar-brand {
        font-size: 1rem;
    }
}

@media(max-width: 281px) {
    .navbar-brand {
        font-size: 0.65rem;
    }
}